.contenedor-lista {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  background: url(../assets/fondo.jpg) no-repeat;
  color: #fff;
  padding: 10px;
}

.munu-boss {
  display: flex;
  gap: 50px;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
}

.boss-item {
  box-shadow: 3px 3px 15px rgb(0, 110, 255);
  background: #000000;
  width: 200px;
  text-align: center;
  border-radius: 8px;
  position: relative;
  flex: 1 1 200px;
}

.boss-activo {
  color: yellow;
}

.icono-boss {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 10px;
}

.items-list {
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #1e1e1e;
  border-radius: 8px;
  z-index: 10;
}

.items-list li {
  margin: 5px 0;
}

.items-list button {
  padding: 3px 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}

.items-list button:hover {
  background-color: #0056b3;
}

.item-activo {
  color: yellow;
  font-weight: bold;
}

h3 {
  margin-bottom: 20px;
}

.cuadro-usuarios {
  height: 80%;
  margin: 20px 10px;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  z-index: 5;
}

.cuadro-usuarios ul {
  list-style-type: none;
  padding: 0;
}

.cuadro-usuarios li {
  padding: 10px;
}

.usuarios-grid {
  display: flex;
  margin: 20px;
  gap: 20px;
}

.usuarios-columna {
  list-style: none;
  padding: 0;
  margin: 0;
}

.estado-item.entregado {
  color: red;
}

.estado-item.no-entregado {
  color: green;
}
